@model ToDoList.BLL.ViewModels.TodoItemVM

@{
    ViewBag.Title = "Index";
}


<div>Add new todo</div>
<div id="todoCreateForm">
    @using (Ajax.BeginForm("CreateNewToDoItem", "ToDoList", new AjaxOptions
    {
        InsertionMode = InsertionMode.Replace,
        HttpMethod = "POST",
        UpdateTargetId = "tableDiv"
    }))
    {
        <div class="form-group">
            @Html.AntiForgeryToken()
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", id = "addToDoField" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>
    }
</div>

<div>Your todo items</div>
<div id="tableDiv"></div>

@section Scripts {
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/CustomScripts/TodoTableBuilder.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
}